.container{
  position: fixed;
  bottom: calc(var(--x-spacing) / 3);
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
}

.navigation{
  position: relative;
  z-index: 1;
  border-radius: 100vw;
  backdrop-filter: blur(.4rem);
  background-color: hsla(var(--color-bg-alt), .8);
  border: .05rem solid hsla(var(--color-white), .16);
  box-shadow: .01rem .01rem .07rem hsla(var(--color-black), .16);
  ul{
    display: flex;
    padding: 0 1.5rem;
    height: 6rem;
    align-items: center;
    li{
      a{
        display: block;
        padding: 1rem 1.5rem;
        font-size: var(--fs-xxs);
        color: hsl(var(--color-white));
        text-decoration: none;
        transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        border-radius: 100vw;
        &:hover{
          color: hsl(var(--color-black));
        }
      }
    }
  }
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: hsl(var(--color-primary));
  pointer-events: none;
  border-radius: 100vw;
  height: 4.6rem;
}