.ticker__text{
  white-space: nowrap;
  display: flex;
  align-items: center;
  line-height: 118%;
  font-family: var(--font-alt);
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: hsl(var(--color-black));
  transition: all 0.3s ease-in-out;

  svg{
    transform: translateY(17px);
    margin: 0 60px;
  }
}