.hero {
  .inner{
    position: relative;
    padding: 9rem;
    z-index: 1;
    overflow: hidden;
  }
}

.logo{
  display: inline-block;
  margin-bottom: 6rem;
}

.title{
  margin-bottom: 3rem;
}

.description{
  margin-bottom: 3rem;
  font-size: var(--fs-sm);
  color: hsl(var(--color-black));
  max-width: 50rem;
}

.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  > * {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gradient{
    background-image: url("/hero-gradient.svg");
    background-size: 130%;
    filter: blur(2vw);
  }
  .noise{
    z-index: 1;
    background: url("/noise.png") repeat;
  }
}
