.customCursor{
  --cursor-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: 100%;
  background-color: hsl(var(--color-primary));
  mix-blend-mode: difference;
  z-index: 99999999 !important;
  user-select: none;
  pointer-events: none;

  @media (pointer: coarse), (pointer: none) {
    display: none;
  }

}