//////////////////////////////
// THEMING
//////////////////////////////
:root {
  --font-alt: 'Libre Baskerville', serif;
  --font-primary: 'Manrope', sans-serif;

  --color-bg: 210 75% 98%; //#F8FBFE; Off White
  --color-bg-alt: 240 10% 8%; //#121216 Smoke;

  --color-primary: 50 100% 50%; //#FFD600; Yellow
  --color-primary-alt: 50, 32%, 42%; //#8E8349; Rusty Yellow
  --color-primary-light: 50, 32%, 42%; //#7A6A14; Rusty Yellow

  --color-alert: 0, 88%, 45%; //#da0d0d; Red

  --color-white: 0 0% 100%; //#FFF; White
  --color-black: 0 0% 0%; //#000; Black

  --color-title: 0 0% 0%; //#000; Black
  --color-body: 213 9% 45%; //#69727E; Pale Sky

  --fs-xxs: 1.6rem;
  --fs-xs: 1.8rem;
  --fs-sm: 2.0rem;
  --fs-md: 2.6rem;
  --fs-lg: 4.8rem;
  --fs-xl: 8.0rem;
  --fs-xxl: 16rem;

  --fw-bold: 700;
  --fw-medium: 600;
  --fw-regular: 400;
  --fw-light: 300;

  --header-height: 22rem;
  --x-spacing: 9rem;
  --y-spacing: 24rem;
}


//////////////////////////////
// CSS RESET
//////////////////////////////

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  font-size: 62.5%;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Remove list styles on ul and ol */
ul, ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

::selection {
  color: hsl(var(--color-black));
  background: hsl(var(--color-primary));
}


//////////////////////////////
// GLOBAL STYLES
//////////////////////////////
h1, h3, h3, h4, h5, h6 {
  font-weight: var(--fw-bold);
}
h1, h2 {
  line-height: 1.2;
}

h3, h4, h5, h6 {
  line-height: 1.4;
}

p{
  font-weight: var(--fw-regular);
}

%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > * {
    position: absolute;
    inset: 0;
  }
}


// Lenis Styles
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}