.modalContainer{
  position: absolute;
  overflow: hidden;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 30rem;

  border-radius: 2rem;
}

.modalSlider{
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(var(--color-bg), 1);

  img{
    height: auto;
    border-radius: 1rem;
  }
}

.cursor, .cursorLabel{
  position: absolute;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;

  border-radius: 50%;
  background-color: hsla(var(--color-primary), 1);
  color: hsla(var(--color-black), 1);

  font-size: var(--fs-sm);
  font-weight: var(--fw-light);
  pointer-events: none;
}

.cursorLabel{
  background-color: transparent;
}