.ticker {
  width: 100%;
  overflow: hidden;
  height: auto;
}

.ticker__run{
  width: fit-content;
  display: flex;
  position: relative;
  transition: opacity 0.1s;
  opacity: 1;
  transition-duration: 0.4s;
  overflow: hidden;
}

.ticker__text{
  white-space: nowrap;
  display: flex;
  align-items: center;
  line-height: 118%;
  font-family: var(--font-alt);
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: hsl(var(--color-black));

  svg{
    transform: translateY(17px);
    margin: 0 60px;
  }
}