.section{
  position: relative;
  padding: var(--y-spacing) 0;
  background: hsl(var(--color-bg-alt)) url("/dash-pattern.svg") repeat;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider{
  padding: var(--x-spacing) 0;
  font-size: var(--fs-sm);
  --swiper-pagination-fraction-color: hsl(var(--color-primary));
}

.sliderItem{
  width: auto;
}

.figure{
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
}

.image{
  background: hsl(var(--color-bg-alt));
  object-fit: cover;
  max-height: calc(100vh - (var(--x-spacing) * 2));
  filter: contrast(1.1);
  transform-origin: center center;
  transform: scale(1.2);
  pointer-events: none;

  &.vertical{
    max-width: calc(100vh - 30rem);
  }
  &.horizontal{
    max-width: 100vw;
  }
}

