@import '/assets/media-queries.scss';

.section{
  position: relative;
  padding: var(--y-spacing) 0;
  background: url("/dot-pattern.svg") repeat;
}

.grid{
  display: grid;
  grid-gap: 16rem;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  @include respond-below(md) {
    grid-gap: 9rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  > * {
    &:nth-child(2){
      @include respond-above(md) {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
    &:nth-child(3){
      @include respond-above(md) {
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }
  }
}

.decor{
  position: absolute;
  right: 12rem;
  top: 12rem;
  animation: freeRotate 8s linear infinite;
  transform-origin: 50% 50%;
}

.ticker{
  margin-top: var(--y-spacing);
}

@keyframes freeRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}